name: Translate README

on:
  push:
    paths:
      - README-ja.md

jobs:
  translate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT_FOR_AUTOCOMMIT }}
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run the Translate task
        run: bundle exec rake readme:translate
        env:
          OPENAI_ACCESS_TOKEN: ${{ secrets.OPENAI_API_KEY_FOR_ACTIONS }}
      - name: Commit Changes
        uses: stefanzweifel/git-auto-commit-action@v5
